/*----BASIC SETTING----*/

:root {
    --font-col:#555;
    --font-typ: 'lato','helvetica','ariel','sans-serif';
    --font-sz: 1.25em;
    --bg-col: #fff;
    --pad-al: 1em;
    --lin-ht: 1.5em;
    --hd-col: #fff;
    --max-wid: 71.250em;
    --marg-art: 2em;
    --box-pad:5%;
    --line-ht:145%;
    --brd-col: #E9B2BC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-col);
    font-family: var(--font-typ);
    font-weight: 300;
    font-size: var(--font-sz);
}

/*---BOXES---*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 2.5em 0;
}

p {
    line-height: var(--line-ht);
}


/*---HEADINGS---*/

h1,
h2 {
    text-transform: uppercase;
    word-spacing: .25em;
}

h1 {
    font-size: 2.9em;
    font-weight: 100;
    letter-spacing: .125em;

}

h2 {
    font-weight: 300;
    text-align: center;
}

h2:after {
    display: block;
    height: .125em;
    background-color: var(--brd-col);
    content: " ";
    width: 15em;
    margin: 0 auto;
    margin-top: .5em;
}

/*---Main Header---*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(img/woman-with-arms-outstretched-against-blue-sky-317155.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.main-text-box {
    position: absolute;
    top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    text-align: right;
    color: var(--hd-col);
    text-transform: uppercase;
}

.main-text-box img {
    border-radius: 12.5em;
    height: 2.5em;
    margin-bottom: .25em;
}

.main-text-box q {
    font-size: .8em;
    text-transform: capitalize;
}

time {
    display: block;
    font-size: .8em;
    text-transform: capitalize;
    margin-top: .3em;
}

.main-logo {
    height: 3.5em;
    width: auto;
    margin-top: .625em
}

/*---About YOGA---*/

.yoga-history {
    display: flex;
    align-content: flex-end;
    margin-bottom: var(--marg-art);
}

.yoga-history img {
    height: 15em;
    box-shadow: 1em 1em #DFEAF4;
}

.yoga-history p {
    padding: 4em 4em 4em 0;
    text-align:justify;

}

.yoga-meaning p {
    padding: 4em 0em 4em 4em;
    text-align:justify;
}

.yoga-meaning {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: var(--marg-art);
}

.yoga-meaning img {
    height: 15em;
    box-shadow: 1em 1em #CFCAD6;
}

.yoga-practise {
    text-align: center;
    margin-top: 4em;
    border: .125em solid var(--brd-col);
    padding: 2em;
    border-radius: 6.25em;
}

/*---BENEFITS---*/

.section-benefits article p {
    margin-top: 2.2em;
    text-align: justify;

}

blockquote {
    margin-top: 2.5em;
    text-align: center;
}

cite {
    display: block;
}

.section-benefits img {
    height: auto;
    display: block;
    width: 50%;
    margin: 1em auto 0   auto;
}

/*---ABOUT---*/

.section-about article p {
    margin: 2.2em 0;
    text-align: justify;
}

/*---STORIES---*/




/*---FOOTER---*/

footer {
    background-color: rgb(114, 105, 105);
    padding: var(--box-pad);
}

footer img {
    height: 2em;
    
}

footer ul {
    list-style: none;
    display: flex;
    margin-right: 2em;
}
